{$SITE_ADDRESS:http://localhost} {
    encode gzip
    handle /api/* {
        reverse_proxy gateway:5000
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
